html * {
  font-family: Andale Mono, monospace;
}

#root {
  div {
    padding: 10px;
  }

  button {
    font-size: 15px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
  }

  input {
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    width: 110px;
    height: 25px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .joke-display {
    height: 30px;
    padding-top: 40px;
  }

  .title {
    font-size: 30px;
    padding-bottom: 50px;
  }
}
