html * {
  font-family: Andale Mono, monospace;
}

#root {
  display: flex;
  justify-content: center;
  text-align: center;

  div {
    padding: 10px;
    width: 100%;
  }

  .title {
    font-size: 30px;
    padding-bottom: 50px;
  }

  button {
    font-size: 15px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
  }

  input {
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    width: 110px;
    height: 25px;
  }
}
